html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Serial_Publication;
  src: url("./Components/Assets/Fonts/Serial_Publication.ttf")
    format("truetype");
}
@font-face {
  font-family: Poppins;
  src: url("./Components/Assets/Fonts/Poppins-Medium.ttf") format("truetype");
}

:root {
  --background_black: rgb(21, 21, 21);
  --white: #fefefe;
}
