.popular {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
  background: rgb(21, 21, 21);
}

.popular-item {
  width: 90%;
  display: flex;
  gap: 30px;
}
