.popular {
  width: 100%;
  display: flex;
  justify-content: center;
}

.popular-item {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-item > * {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width as needed */
  margin: 10px; /* Add margin for spacing */
}

@media (max-width: 800px) {
  .popular-item > * {
    flex: 0 0 calc(50% - 20px); /* Adjust the width for smaller screens */
  }
}

@media (max-width: 500px) {
  .popular-item > * {
    flex: 0 0 calc(100% - 20px); /* Full width for even smaller screens */
  }
}
